{%extends "main_page.html"%}
{%block content%}
<head>
    <meta charset="UTF-8">
    <title>About</title>
</head>
<div class="about">
    <h1>About me</h1>
    <p>Hej!</p>
    <p>
        Welcome to my portfolio. My Name is Faisal Akhlaq. I am living in Copenhagen. <br>
        I am a software developer who loves travelling, fitness activities and sports.<br>
    </p>
    <p>
        Currently I am focused on learning python. As python is a very broadly used <br>
        language, therefore, I learnt basics in different areas.
        <ul>
            <li>Desktop application using tkinter</li>
            <li>Interacting with databases in desktop and web applications <br>
                using SQLAlchemy and simple Database querying. CRUD operations</li>
            <li>Learning bit of mapping</li>
            <li>Graphs using Bokeh and pandas</li>
            <li>Some interesting web-scrapping of static a dynamic websites <br>
                using requests and selenium</li>
            <li>A bit of image and video processing using OpenCV</li>
            <li>Basics of stock market data fetching Candlestick chart</li>
            <li>Deployment of Heroku</li>
            <li>Web apps using Flask, Jinja templating, login management, <br>
                decorators, restricting access to functions and resources<br>
                based on roles</li>
            <li>Web development using Django</li>
        </ul>
    </p>
    <p>
        The software development journey includes many hours of siting in front of a <br>
        computer, stackoverflow, bit of blogging and also going to university for a master <br>
        degree in software engineering and management. The degree part was very  <br>
        interesting and ended happily with two IEEE publication.
    </p>
</div>
{%endblock%}
