{%extends "main_page.html"%}
{%block content%}
<div class="book-store-page">
    <h1>Book Store</h1>
    <div class="error-message">
            {{ error_message | safe }}
    </div>
    <form method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{form.search_by.label}}
            {{form.search_by}}
            {{ form.title(size=20) }}<br>
            {{ form.search() }}
            {% for error in form.title.errors %}<br>-->
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
            {{ form.view_all() }}
        </p>
    </form>
</div>
<div class="books-table">
    <form method="POST">
        {{ form.hidden_tag() }}
        <table style="width:100%">
              <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Year</th>
                <th>ISBN</th>
                <th book-admin-edit-btn-col>Edit</th>
                <th>Delete</th>
              </tr>
             {% for book in books.items %}
                <tr>
                    <td>{% if book.title %}{{ book.title }} {% endif %}</td>
                    <td>{% if book.author %}{{ book.author }} {% endif %}</td>
                    <td>{% if book.year %}{{ book.year }} {% else %}{{ None }}{% endif %}</td>
                    <td>{% if book.isbn %}{{ book.isbn }} {% else %}{{ None }}{% endif %}</td>
                    <td><button type="submit" name="edit" value="{{ book.book_id }}"
                                formmethod="post" onclick="">Edit</button></td>
                    <td><button type="submit" name="delete" value="{{ book.book_id }}"
                                formmethod="post" onclick="">Delete</button></td>
                </tr>
             {% endfor %}
        </table>



    {% for page_num in books.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
        {% if page_num %}
        {% if books.page == page_num %}
          <a class="" href="{{ url_for('books_app.book_store', page=page_num) }}">{{ page_num }}</a>
        {% else %}
          <a class="" href="{{ url_for('books_app.book_store', page=page_num) }}">{{ page_num }}</a>
        {% endif %}
        {% else %}
         ...
        {% endif %}
    {% endfor %}



    <ul class="pagination">
        {% if books.has_prev %}
          <div class="page-item"> <a class="page-link" href="{{ url_for('books_app.book_store', page=books.prev_num) }}">Previous</a></div>
        {% else %}
          <div class="page-item"><a class="page-link btn disabled" href="#">Previous</a></div>
        {% endif %}
        {% if books.has_next %}
          <div class="page-item"> <a class="page-link" href="{{ url_for('books_app.book_store', page=books.next_num) }}">Next</a></div>
        {% else %}
          <div class="page-item"><a class="page-link btn disabled" href="#">Next</a></div>
        {% endif %}
    </ul>



    </form>
</div>
{% endblock %}
