{%extends "main_page.html"%}
{%block content%}
<style>
tr:nth-child(odd) { background-color : #EAF2D3; }
tr:hover { background-color : #89ae37; }
overflow-y:scroll;
height:50px;
display:block;
</style>
<div class="book-admin-page">
    <h1>Admin Book Store</h1>
</div>
<div class="book-admin-page">
        <div class="error-message">
            {{ error_message | safe }}
    </div>
    <form method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.book_id(type='hidden') }}
            {{ form.title.label }}
            {{ form.title(size=30) }}
            {% for error in form.title.errors %}<br>
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ form.author.label }}
            {{ form.author(size=30) }}
            {% for error in form.author.errors %}<br>
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ form.year.label }}
            {{ form.year(size=30) }}
            {% for error in form.year.errors %}<br>
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ form.isbn.label }}
            {{ form.isbn(size=30) }}
            {% for error in form.isbn.errors %}<br>
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ form.clear() }}
            {{ form.add_new() }}
            {{ form.search() }}
            {{ form.update() }}
            {{ form.view_all() }}
        </p>
    </form>
</div>
<div class="books-table">
    <form method="POST">
        {{ form.hidden_tag() }}
        <label for books_per_page>Books Per Page</label>
        <input id="books_per_page" size="1">
        <table style="width:100%">
              <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Year</th>
                <th>ISBN</th>
                <th book-admin-edit-btn-col>Edit</th>
                <th>Delete</th>
              </tr>
             {% for book in books.items %}
                <tr>
                    <td>{% if book.title %}{{ book.title }} {% endif %}</td>
                    <td>{% if book.author %}{{ book.author }} {% endif %}</td>
                    <td>{% if book.year %}{{ book.year }} {% else %}{{ None }}{% endif %}</td>
                    <td>{% if book.isbn %}{{ book.isbn }} {% else %}{{ None }}{% endif %}</td>
                    <td><button type="submit" name="edit" value="{{ book.book_id }}"
                                formmethod="post" onclick="">Edit</button></td>
                    <td><button type="submit" name="delete" value="{{ book.book_id }}"
                                formmethod="post" onclick="">Delete</button></td>
                </tr>
             {% endfor %}
        </table>

    {% for page_num in books.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
        {% if page_num %}
        {% if books.page == page_num %}
          <a class="" href="{{ url_for('books_app.book_admin', page=page_num) }}">{{ page_num }}</a>
        {% else %}
          <a class="" href="{{ url_for('books_app.book_admin', page=page_num) }}">{{ page_num }}</a>
        {% endif %}
        {% else %}
         ...
        {% endif %}
    {% endfor %}

    <ul class="pagination">
        {% if books.has_prev %}
          <div class="page-item"> <a class="page-link" href="{{ url_for('books_app.book_admin', page=books.prev_num) }}">Previous</a></div>
        {% else %}
          <div class="page-item"><a class="page-link btn disabled" href="#">Previous</a></div>
        {% endif %}
        {% if books.has_next %}
          <div class="page-item"> <a class="page-link" href="{{ url_for('books_app.book_admin', page=books.next_num) }}">Next</a></div>
        {% else %}
          <div class="page-item"><a class="page-link btn disabled" href="#">Next</a></div>
        {% endif %}
    </ul>



    </form>
</div>
{% endblock %}
