{%extends "main_page.html"%}
{%block content%}
<head>
    <meta charset="UTF-8">
    <title>Contact</title>
</head>
<div class="contact">
    <h1>Get in Touch</h1>
    <p>
        If you are interested in working with me or just want to say hi, OR <br>
        Do you have a cool or crazy or great idea that need a web / software <br>
        for its completion? Do not think, just use the below form and send me <br>
        a message / question / suggestion. <br>

        You can directly send me an email at faisal.akhlaq@aol.com <br>
    </p>
    <form class="contact-form">
        <input placeholder="Your Name"><br>
        <input placeholder="Your Email"><br>
        <textarea placeholder="Your Message"></textarea><br>
        <input type="submit" value="Send"><br>
    </form>
    <p><a href="https://www.linkedin.com/in/faisalakhlaq/">My linkedin</a></p>
</div>
{%endblock%}
