{%extends "main_page.html"%}
{%block content%}
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<div class="home">
    <img  class="user-image-home" src="{{ image_file }}" style="width: 64px">
    <h4>Hi, I am </h4>
    <h3>Faisal Akhlaq</h3>
    <h4>Back-end Developer</h4>
    <ul>
        <li>
            <a href="https://github.com/faisalakhlaq" target="_blank" title="Github account of Faisal">
            <i class="fa fa-github"></i>Github</a>
        </li>
        <li>
            <a href="https://www.linkedin.com/in/faisalakhlaq/" target="_blank" title="Linkedin Profile of Faisal">
                <i class="fa fa-linkedin"></i>Linkedin</a>
        </li>
        <li>
            <a href="http://pallandri.blogspot.com/" target="_blank" title="Blog">
                <i class="fa fa-linkedin"></i>Blog</a>
        </li>
    </ul>
</div>
{%endblock%}
