{%extends "main_page.html"%}
{%block content%}
<div class="projects">
    <h1>Projects</h1>
    <a href="{{url_for('users.login')}}">Login Page</a><br>
    <a href="{{url_for('users.account')}}">Account</a><br>
    <a href="{{url_for('users.register_new_user')}}">Register</a><br>
    <a href="{{url_for('books_app.book_admin')}}">Book Store Admin</a><br>
    <a href="{{url_for('books_app.book_store')}}">Book Store</a><br>
    <a href="{{url_for('height_collector.height_data')}}">Height Survey</a><br>
    <a href="https://github.com/faisalakhlaq" target="_blank">Github</a><br>
    <a href="https://gitlab.com/faisal.akhlaq" target="_blank">Gitlab</a><br>
    <a href="https://play.google.com/store/apps/details?id=com.prayerdiary.app" target="_blank">
        Android App: Prayer Diary</a><br>
    <a href=".">Android App: Wutzwhat</a><br>
</div>
<!--&lt;!&ndash;project = []&ndash;&gt;-->
<div class="project-flex-container">
    <div class="img-container">
        <img  class="project-image" src="static/images/register.png">
    </div>
    <div class="description-container">
        <h3>Project Name</h3>
        <h4>Tools used</h4>
        <a href="#">Project link</a>
    </div>
</div>
{% endblock %}
